.infomation {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  
  &__avatar {
    width: 60%;
    border-radius: 50%;
  }
  &__content {
    width: 80%;
    margin-left: auto;
    margin-right: 10px ;
    &__name {
     

      display: flex;
      .MuiButton-outlined{
        margin: 10px !important;
        border:0 !important;
      }

    }
    &__location {
      margin-left: auto;
      display: flex;
      &__icon {
        align-items: center;
        justify-items: center;
        padding-right: 4px;
        &__location {
          padding-top: 18px;
        }
      }
      &__content {
        font-size: 20px;
        text-decoration: none;
        color: black;
      }
    }
    &__interest{
      display:  flex;
      &__item{
       
        margin: 10px !important;
        .MuiButton-contained {
          margin: 10 px !important;
        }
      
      }
    }
  }
}

.reaction{
  display: flex;
  margin-top: 10%;
  width: 100%;
}
