.firebaseui-container {
    max-width: inherit !important;
    background-color: red !important;
  }
  .firebaseui-card-content {
    padding: 0 !important;
  }
  .firebaseui-idp-button {
    width: 100% !important;
    max-width: inherit !important;
  }

.firebaseui-idp-button{
  background-color: red;
}
.body{
  ::-webkit-scrollbar{
      width: 2px;
      height:2px;
  }
}
a{
  color: white;
  text-decoration: none;
}